<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="www.starcom.com.batammall">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_batammall"
        android:label="@string/app_name"
        tools:replace="icon, label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SearchResultsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <activity android:name=".SubKategori.produk"
            android:screenOrientation="portrait"/>


        <activity android:name=".SubKategori.produk_detail"
            android:screenOrientation="portrait"/>

        <activity android:name=".daftar"
            android:screenOrientation="portrait"/>

        <activity android:name=".login"
            android:screenOrientation="portrait"/>

        <activity android:name=".alamat_pengiriman"
            android:screenOrientation="portrait"/>

        <activity android:name=".konfirmasi"
            android:screenOrientation="portrait"/>

        <activity android:name=".keranjang2"
            android:screenOrientation="portrait"/>

    </application>

</manifest>